html
    head
        link(rel="stylesheet" href='css/style.min.css')
    body
        include html/header
        main.page 
            h1 1234
            img(src="@img/6313.png")
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam qui architecto ullam aliquid eum iste corrupti perspiciatis, nihil maiores tempora eius quisquam adipisci accusamus molestias perferendis minima commodi sit consequatur?
        include html/footer 
        script(src="js/app.min.js")
    